<!-- Lateral Sidebar Module -->
<aside class="menu_aside flex">
    <ul class="aside_list flex flex-column">
        {% if user.role == "admin" %}
            <li>
                <a href="{{ url_for('admin.dashboard') }}" title="Inicio">
                    <img src="{{ url_for('static', filename='images/iconos/home.png') }}" alt="Inicio"
                        style="width: 50px; height: 50px;">
                </a>
            </li>
            <li>
                <a href="{{ url_for('users.teachers_management') }}" title="Docentes">
                    <img src="{{ url_for('static', filename='images/iconos/class.png') }}" alt="Docentes"
                        style="width: 50px; height: 50px;">
                </a>
            </li>
            <li>
                <a href="{{ url_for('courses.courses_management') }}" title="Cursos">
                    <img src="{{ url_for('static', filename='images/iconos/text.png') }}" alt="Cursos"
                        style="width: 50px; height: 50px;">
                </a>
            </li>
        {% elif user.role == "teacher" %}
            <li>
                <a href="{{ url_for('admin.dashboard') }}" title="Inicio">
                    <img src="{{ url_for('static', filename='images/iconos/home.png') }}" alt="Inicio"
                        style="width: 50px; height: 50px;">
                </a>
            </li>
            <li>
                <a href="{{ url_for('classes.teacher_classes_view') }}" title="Clases y recursos">
                    <img src="{{ url_for('static', filename='images/iconos/class.png') }}" alt="Clases y recursos"
                        style="width: 50px; height: 50px;">
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin.evaluaciones') }}" title="Evaluaciones">
                    <img src="{{ url_for('static', filename='images/iconos/library.png') }}" alt="Evaluaciones"
                        style="width: 50px; height: 50px;">
                </a>
            </li>
            <li>
                <a href="{{ url_for('books.books_view') }}" title="Libros">
                    <img src="{{ url_for('static', filename='images/iconos/text.png') }}" alt="Libros"
                        style="width: 50px; height: 50px;">
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin.calificaciones') }}" title="Calificaciones">
                    <img src="{{ url_for('static', filename='images/iconos/evaluations.png') }}" alt="Calificaciones"
                        style="width: 50px; height: 50px;">
                </a>
            </li>
        {% elif user.role == "student" %}
            <li>
                <a href="{{ url_for('books.books_view') }}" title="Mis Libros">
                    <img src="{{ url_for('static', filename='images/iconos/text.png') }}" alt="Libros"
                        style="width: 50px; height: 50px;">
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin.evaluaciones') }}" title="Mis Evaluaciones">
                    <img src="{{ url_for('static', filename='images/iconos/library.png') }}" alt="Evaluaciones"
                        style="width: 50px; height: 50px;">
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin.calificaciones') }}" title="Mis Calificaciones">
                    <img src="{{ url_for('static', filename='images/iconos/evaluations.png') }}" alt="Calificaciones"
                        style="width: 50px; height: 50px;">
                </a>
            </li>
        {% endif %}
    </ul>
</aside>