{% extends "base.html" %}

{% block title %}Gestión de Cursos{% endblock %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/category.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/admin.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
{% block menu %}{% endblock %}
<div class="container_category flex admin_category">
    <!-- Inicio Cursos -->
    <div class="specialities_category cursos grades flex flex-column">
        
        <div class="flex header-cursos">
            <div class="items-header">
                <div class="flex">
                    <span>Cursos</span>
                    <span>Materias</span>
                </div>
                <span>Acciones</span>
            </div>
        </div>
        <div class="content-cursos">
            {% if courses %}
            <ul class="flex flex-column list-cursos">
                {% for course in courses %}
                <li>
                    <span class="grado"> {{ course.name }} <i class="fas fa-chevron-down"></i></span>
                    <div class="flex flex-column content-materias">
                        <ul class="flex flex-column list-materias">
                          {% for subject in course.subjects %}
                            <li class="flex ">
                                <span></span>
                                <span>{{ subject.subject_name }} - {{ subject.teacher_name }}</span>
                                <span class="flex actions">
                                    <a href="{{ url_for('subjects.edit_subject', subject_id=subject.subject_id, course_id=course.id) }}" class="">Editar </a>
                                    <a href="#" class=""> <i class="fas fa-trash"></i></a>
                                </span>
                            </li>
                          {% endfor %}
                        </ul>
                        <span class="flex add">
                            <a href="{{ url_for('subjects.create_subject', course_id=course.id) }}" class="btn btn-outline-danger add-subject-btn"
                                                    data-course-id="{{ course.id }}">AÑADIR</a>
                        </span>
                    </div>

                </li>
                {% endfor %}
            </ul>
            {% else %}
            <ul class="flex flex-column list-cursos">
                <li>
                    <span class="grado"> No hay cursos registrados</span>
                </li>
            </ul>
            {% endif %}
        </div>
        <span class="flex add grados">
            <a href="{{ url_for('courses.create_course') }}" class="">AÑADIR</a>
        </span>
    </div>

    <!-- Sidebar Menu Component -->
    {% include "sidebar_aside.html" %}
</div>

<!-- Custom JS -->
<script src="{{ url_for('static', filename='js/courses_management.js') }}"></script>
{% endblock %}