{% extends "base.html" %}

{% block title %}Dashboard | Administrador{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/category.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block content %}
    {% block menu %}{% endblock %}

    <div class="container_category flex recursos_category">
        <!-- Perfil de Usuario -->
        <div class="data_categoty flex flex-column">
            <p>{{ user.full_name }}</p>
            <div class="data_grade_category flex flex-column">
                <p>{{ user.document }}</p>
                <p>{{ user.role }}</p>
            </div>
        </div>

        <!-- Menú Lateral -->
        {% include "sidebar_menu.html" %}

    </div>
{% endblock %}