{% extends "base.html" %}

{% block title %}Dashboard | Administrador{% endblock %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/category.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/admin.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% block menu %}{% endblock %}

    <div class="container_category flex recursos_category">

        <!-- Perfil de Usuario -->
    <div class="data_categoty flex flex-column">
        <p>{{ user.full_name }}</p>
        <div class="data_grade_category flex flex-column">
            <p>{{ user.document }}</p>
            <p>{{ user.role }}</p>
        </div>
    </div>

        <!-- Menú Lateral -->
        {% include "sidebar_menu.html" %}

        {% if user.role == "TEACHER" %}
                <h5>Estudiantes</h5>
            {% if courses %}
                <div class="d-flex gap-3 mb-4">
                    <ul class="list-unstyled d-flex gap-2 mb-0">
                        {% for course in courses %}
                            <li>
                                <a href="{{ url_for('users.course_students', course_id=course.id) }}" 
                                   class="btn btn-outline-dark me-2 course-grade-btn">
                                    {{ course.grade_number }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <p class="text-muted">No hay cursos disponibles en el colegio.</p>
            {% endif %}
        {% endif %}

        {% if accion_logout %}
            {% include "utils/logout_button.html" %}
        {% endif %}
</div>
{% endblock %}