<!-- Modal de Editar Materia -->
<div class="modal modal_create" id="editSubjectModal" aria-hidden="true">
    <div class="bg-back close-modal"></div>
    <div class="container">
        <i class="closed close-modal">X</i>
        <h2>Editar materia</h2>
        <form method="POST" action="" id="editSubjectForm" class="needs-validation" novalidate>
            <input type="hidden" name="subject_id" id="editSubjectId" value="">
            <div class="mb-3">
                <label for="edit-subject-name" class="form-label">Nombre de la materia</label>
                <select class="form-select" id="edit-subject-name" name="name" required>
                    <option value="" disabled selected>Selecciona una materia</option>
                    {% if available_subjects %}
                        {% for subject_name in available_subjects %}
                        <option value="{{ subject_name }}">{{ subject_name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
                <div class="invalid-feedback">Por favor seleccione una materia.</div>
            </div>
            <div class="btns">
                <button type="submit" class="btn btn-primary" id="submitEditSubjectBtn">Guardar</button>
            </div>
        </form>
    </div>
</div>
