/* Admin Dashboard */

.student-box {
    background-color: #29b6f6;
    color: white;
    padding: 15px;
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
}
.student-box:hover {
    background-color: #0288d1;
}
.admin-card {
    background-color: #03a9f4;
    color: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.admin-card:hover {
    background-color: #0277bd;
}