.header-cursos {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-cursos .items-header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-cursos .flex {
    gap: 10rem;
    width: 48%;
    justify-content: space-between;
}

.header-cursos span {
    color: #606060;
    font-size: x-large;
    font-weight: bold;
}

.content-cursos {
    width: 100%;
}

.list-cursos {
    gap: 0px;
}

.list-cursos li {
    border-top: 1px solid var(--secondary-color);
}
.list-cursos li:last-child {
    border-bottom: 1px solid var(--secondary-color);
}

.list-cursos li span {
    padding: 1rem 0rem;
    display: block;
}

.list-cursos li span.grado {
    cursor: pointer;
    display: flex;
    width: 95%;
    justify-content: space-between;
}

.list-cursos li span.grado i {
    color: var(--admin-active);
    font-size: 23px;
}

.list-materias {
    background-color: var(--gray-light);
    gap: 0px;
}

.list-materias li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--secondary-color);
    padding: 0.5rem 8rem 0.5rem 0rem;
}

.list-materias li .actions {
    display: flex;
    gap: 2rem;
}

.list-materias li .actions a {
    color: #606060;
}
.admin_category .add {
    width: 100%;
    justify-content: end;
    text-align: right;
    padding: 1rem 5rem 1rem 0rem;
}

.form-admin .add a,
.admin_category .add a {
    padding: 0.5rem 4rem;
    background-color: white;
    color: var(--admin-active);
    border-radius: 20px;
    border: 1px solid var(--admin-active);
    font-weight: bold;
}
.form-admin .add a:hover,
.admin_category .add a:hover {
    background-color: var(--admin-active);
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.admin_category .add.grados {
    width: 100%;
    justify-content: end;
    text-align: right;
    padding: 1rem 5rem 1rem 0rem;
}
.form-admin .add.grados a,
.admin_category .add.grados a {
    padding: 0.5rem 4rem;
    background-color: var(--admin-active);
    color: #fff;
    border-radius: 20px;
    border: 1px solid var(--admin-active);
    font-weight: bold;
}
.form-admin .add.grados a:hover,
.admin_category .add.grados a:hover {
    background-color: #fff;
    color: var(--admin-active);
    transition: all 0.3s ease-in-out;
}

.content-materias{
    display: none;
    gap: 0px;

}

/* Cuando se active */
.content-materias.active {
    display: flex;
}

/* Rotar la flecha cuando se abre */
.grado i.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.list-materias .data {
    display: flex;
    width: 45%;
    justify-content: space-between;
    gap: 0.2rem;
}
.right-text{
    display: block;
    width: 100%;
    text-align: right;
    font-weight: 700;
    color: #fff;
}
.content-form {
    width: 100%;
    background-color: #f9afaf;
    border-radius: 10px;
    padding: 2rem;
}
.btn-admin{
    padding: 0.5rem 4rem;
    background-color: var(--admin-active);
    color: #fff;
    border-radius: 5px;
    border: 1px solid var(--admin-active);
    font-weight: bold;
}
.btn-admin:hover{
    color: var(--admin-active);
    background-color: #fff;
}
.input-group{
    position: relative;
}
.input-group input{
    padding: 0.5rem;
    border-radius: 5px;
    width: 100%;
}
.input-group input::placeholder{
    color: var(--admin);
    text-transform: uppercase;
}

.content-admin.flex.flex-column {
    width: 100%;
}

.form-crear.flex {
    width: 100%;
}

form.form-admin.flex.flex-column {
    width: 100%;
    align-items: end;
}
.img-usuario i{
    font-size: 100px;
    color: #fff;
}
.flex-form{
    gap: 5rem;
    justify-content: end;
    flex-wrap: nowrap;
}
.btns-form .add{
    width: 40%!important;
    padding: 0rem !important;
    text-align: center!important;
}
.btns-form .add a{
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 5px!important;
    padding: .5rem !important;
}
.flex.btns-form {
    width: 100%;
    justify-content: space-between;
    text-align: center;
}
.form-crear-content{
    width: 70%;
    flex-wrap: nowrap;
}
.specialities_category:has(.content-admin){
    background-color: white;
}
.container_datos_personales{
    background: url(../images/menu-principal/backgroun.jpg);
    background-repeat: no-repeat;
    border-radius: 50px;
    padding: 3rem;
    background-position: center;
}


.session.flex.flex-column {
    width: 20%;
}
.session img{
    max-width: 100px;
    border-radius: 50px;
    margin: 0 auto;
}
.session {
    text-align: center;
}
.session .flex{
    gap: 0rem;
}
.session h2,
.session span{
    font-size: medium;
    color: #fff;
}
.info_data.flex {
    width: 75%;
}
.info_data h1{
    color: #fff;
    text-align: center;
}
.data_usuario.flex.flex-column {
    width: 30%;
    gap:1rem;
}
.content-data-user::before{
    content: "";
    width: 2px;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
}
.data_usuario.flex.flex-column .group{
    color:#fff;
}
.data_usuario.flex.flex-column .group p,
.data_usuario.flex.flex-column .group strong{
    font-size: larger;
}

.container_avatares.flex.flex-column {
    width: 60%;
    background: white;
    padding: 1rem;
    gap:1rem;
    text-align: center;
    max-width: 870px;
    border-radius: 10px;
}
.container_avatares h2{
    font-size: larger;
    letter-spacing: 2px;
    font-weight: 700;
}
.container_avatares span{
    letter-spacing: 2px;
    font-size: large;
}

.avatar {
    max-width: 62px;
    border-radius: 50px;
    overflow: hidden;
}

.avatar img {
    width: 100%;
}

.content_avatares.flex {
    justify-content: center;
}
.content-data-user{
    align-items: center;
}
.modal{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #0007;
    justify-content: center;
    align-items: center;
    display: none;/*  oculto modal de confirmación  */

}
.content-modal{
    background-color: #fff;
    max-width: 35%;
    padding: 2rem;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
}
.content-modal i{
    color: var(--admin-active);
    font-size: 90px;
}
.content-modal span{
    color: #b1b1b2;
}
.content-modal .flex{
    justify-content: center;
}
.content-modal .flex .btn{
    width: 40%;
    background-color: #3bc0bb;
    color: #fff;
    border-color: transparent;
}
.content-modal .flex .btn:first-child{
    background-color: var(--admin-active);
}